# Explicitly include required directories
!lib/**
!node_modules/**
!utils/**
!docs/**
!examples/**
!index.js
!extension.js
!quotes.js
!icon.png
!package.json
!package-lock.json
!README.md
!LICENSE
!.sweignore
!.sweobeyme-contract.md

# Exclude test files
tests/
__tests__/
*.test.js
*.spec.js
**/test/**
vscode/
test-electron/

# Exclude git
.git/
.gitignore
.github/

# Exclude development files
.vscode/

# Exclude dump files
dump*.txt
